.sidebar{
	background-color: #f0fcf9;
	border: 1px solid #c9c9c9;
	margin-right: 5px;
	padding: 5px;
	width: 21%;
	float: left;
	min-height: 820px;
	margin-top: -10px;
}
.genre_block {
	
	border-left: 3px solid /*#c9c9c9*/#f0fcf9;
	font-size: 20px;
	margin-left: 10px;
	margin-right:10px;
	margin-bottom: 12px;
	padding-left: 11px;
	padding-top: 6px;
	width: 80%;
	min-height: 30px;
	font-family: Didot, serif;
	transition: 0.5s;
	z-index: 2;

 
}

.genre_block:hover {
	border-left: 3px solid #c9c9c9;
	transform: translateX(20px);
	color: #a2baf2;
}

/*

*/ 